*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-decoration: none;
  list-style: none;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text: #1e1e1e;
  --color-background: #f8fdff;
  --color-blueLight: #d0dffb;
  --color-blue: #0b75b5;
  --color-blueDark: #1a394c;
  --color-red: #eb4928;

  /*  */
  --vc-pgn-width: 100px;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    'sans-serif',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    Inter;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  --animate-duration: 1.2s;
}
